.container
  .row
    .span4#t_left#0
    .span4#t_right#1
    .span4#t_right#2
  .row
    .span4#t_left#3
    .span4#t_right#4
    .span4#t_right#5
  .row
    .span4#t_left#6
    .span4#t_right#7
    .span4#t_right#8