%h1 StaticPages#index
%p Find me in app/views/static_pages/index#html#haml

- User.all.each do |user| 
  = link_to user.uun, user_path(user)
  
  %br

= link_to "New User", new_user_path



%div#game
  %div#top-row
    %div#t_left#0
    %div#t_mid#1
    %div#t_right#2
  %div#mid-row
    %div#m_left#3
    %div#m_right#4
    %div#m_mid#5
  %div#bottom-row
    %div#b_left#6
    %div#b_mid#7
    %div#b_right#8
    
