%h1 TicTacToe
%p The best way to play Tic Tac Toe online

- User.all.each do |user| 
  = link_to user.uun, user_path(user)
  
  %br

= link_to "New User", new_user_path



.container
  .row
    .span4#t_left#0
    .span4#t_right#1
    .span4#t_right#2
  .row
    .span4#t_left#3
    .span4#t_right#4
    .span4#t_right#5
  .row
    .span4#t_left#6
    .span4#t_right#7
    .span4#t_right#8
  


















