%h1 StaticPages#index
%p Find me in app/views/static_pages/index#html#haml

%div#game
  %div#top-row
    %div#top-left
    %div#top-mid
    %div#top-right
  %div#mid-row
    %div#mid-left
    %div#mid-right
    %div#mid-mid
  %div#bottom-row
    %div#bottom-left
    %div#bottom-mid
    %div#bottom-right
    
